.root {
    -fx-font-family: "SuperCell-Magic";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

.menu-layout {
    -fx-background-color: royalblue;
    -fx-background-image: url("../images/fundoMenu.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.decks-layout {
    -fx-background-color: royalblue;
    -fx-background-image: url("../images/fundoDeck.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.editor-layout {
    -fx-background-color: royalblue;
    -fx-background-image: url("../images/fundoEditor.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.label-layout {
    -fx-font-family: "SuperCell-Magic";
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.editor-buttons {
    -fx-pref-width: 180px;
    -fx-pref-height: 50px;
    -fx-background-color: royalblue;
    -fx-font-size: 14px;
    -fx-font-family: "SuperCell-Magic";
    -fx-text-fill: white;
    -fx-border-color: lightblue;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 4px;
}

.menu-buttons {
    -fx-pref-width: 170px;
    -fx-pref-height: 70px;
    -fx-background-radius: 25px;
    -fx-font-size: 18px;
    -fx-border-color: gold;
    -fx-border-radius: 20px;
    -fx-border-width: 8px;
    -fx-font-family: "SuperCell-Magic";
    -fx-background-color: darkgoldenrod;
    -fx-text-fill: white;
}

.cartas-tela-layout {
    -fx-background-color: royalblue;
    -fx-background-image: url("../images/fundoArena.jpg");
    -fx-background-size: cover;
}

.voltar-layout {
   -fx-pref-width: 100px;
   -fx-pref-height: 55px;
   -fx-background-radius: 25px;
   -fx-font-size: 12px;
   -fx-border-color: gold;
    -fx-border-radius: 20px;
    -fx-border-width: 8px;
    -fx-font-family: "SuperCell-Magic";
    -fx-background-color: darkgoldenrod;
    -fx-text-fill: white;
}

.title {
    -fx-font-family: "SuperCell-Magic";
    -fx-font-size: 38px;
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background : transparent;
    -fx-border-color: transparent;
}

.info-carta {
    -fx-font-family: "SuperCell-Magic";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: midnightblue;
    -fx-border-color: lightblue;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 8px;
}
