
.root-pane {
    -fx-background-color: royalblue;
    -fx-background-image: url('images/fundoArena.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
}

.label {
    -fx-font-family: "fantasy";
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.button {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.titulo {
    -fx-font-family : "Arial Black";
    -fx-font-size : 65px;
    -fx-font-weight : 900;
    -fx-text-fill : yellow;
    -fx-alignment : top_center;
}

.choice-box{
    -fx-font-size: 15px;
    -fx-text-fill: black;
}

.choice-box .label {
    -fx-text-fill: black;
 }

 .top-container{
    -fx-background-color: lightblue;
 }
